@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Summary Variables: */
:root {
  --sh-identifier: #61afef;
}

.prose code {
  color: var(--sh-identifier);
}